USE [master]
GO
/****** Object:  Database [Churches]    Script Date: 2018-08-31 09:02:07 ******/
CREATE DATABASE [Churches]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Churches', FILENAME = N'C:\Users\Administrator\Churches.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Churches_log', FILENAME = N'C:\Users\Administrator\Churches_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Churches].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Churches]
GO
USE [Churches]
GO
/****** Object:  Table [dbo].[ChurchName]    Script Date: 2018-08-31 09:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChurchName](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[CityID] [int] NOT NULL,
	[YearID] [int] NOT NULL,
 CONSTRAINT [PK_ChurchName] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[City]    Script Date: 2018-08-31 09:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Year]    Script Date: 2018-08-31 09:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Year](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
 CONSTRAINT [PK_Year] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChurchName] ON 

INSERT [dbo].[ChurchName] ([ID], [Name], [CityID], [YearID]) VALUES (1, N'Oscar-Fredriks church', 1, 1)
INSERT [dbo].[ChurchName] ([ID], [Name], [CityID], [YearID]) VALUES (2, N'Masthuggs church', 1, 2)
INSERT [dbo].[ChurchName] ([ID], [Name], [CityID], [YearID]) VALUES (3, N'Sankt Georgios church', 2, 3)
SET IDENTITY_INSERT [dbo].[ChurchName] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([ID], [CityName]) VALUES (1, N'Göteborg')
INSERT [dbo].[City] ([ID], [CityName]) VALUES (2, N'Stockholm')
INSERT [dbo].[City] ([ID], [CityName]) VALUES (3, N'Norrköping')
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Year] ON 

INSERT [dbo].[Year] ([ID], [Year]) VALUES (1, 1893)
INSERT [dbo].[Year] ([ID], [Year]) VALUES (2, 1914)
INSERT [dbo].[Year] ([ID], [Year]) VALUES (3, 1890)
SET IDENTITY_INSERT [dbo].[Year] OFF
ALTER TABLE [dbo].[ChurchName]  WITH CHECK ADD  CONSTRAINT [FK_ChurchName_City] FOREIGN KEY([CityID])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[ChurchName] CHECK CONSTRAINT [FK_ChurchName_City]
GO
ALTER TABLE [dbo].[ChurchName]  WITH CHECK ADD  CONSTRAINT [FK_ChurchName_Year] FOREIGN KEY([YearID])
REFERENCES [dbo].[Year] ([ID])
GO
ALTER TABLE [dbo].[ChurchName] CHECK CONSTRAINT [FK_ChurchName_Year]
GO
USE [master]
GO
