USE [master]
GO
/****** Object:  Database [GnomeDb]    Script Date: 2018-09-07 10:18:14 ******/
CREATE DATABASE [GnomeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GnomeDb', FILENAME = N'C:\Users\Administrator\GnomeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GnomeDb_log', FILENAME = N'C:\Users\Administrator\GnomeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GnomeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GnomeDb]
GO
USE [GnomeDb]
GO
/****** Object:  Table [dbo].[Gnome]    Script Date: 2018-09-07 10:18:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gnome](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Skägg] [varchar](50) NULL,
	[Ond] [varchar](50) NULL,
	[Temperament] [int] NULL,
	[RasId] [int] NULL,
 CONSTRAINT [PK_Gnome] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ras]    Script Date: 2018-09-07 10:18:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ras](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rastyp] [varchar](50) NULL,
 CONSTRAINT [PK_Ras] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gnome] ON 

INSERT [dbo].[Gnome] ([Id], [Name], [Skägg], [Ond], [Temperament], [RasId]) VALUES (1, N'Grobnick', N'Ja', N'Nej', 5, 1)
INSERT [dbo].[Gnome] ([Id], [Name], [Skägg], [Ond], [Temperament], [RasId]) VALUES (2, N'Kazbo', N'Ja', N'Ja ', 1, 2)
INSERT [dbo].[Gnome] ([Id], [Name], [Skägg], [Ond], [Temperament], [RasId]) VALUES (3, N'Beggra', N'Nej', N'ja', 4, 2)
SET IDENTITY_INSERT [dbo].[Gnome] OFF
SET IDENTITY_INSERT [dbo].[Ras] ON 

INSERT [dbo].[Ras] ([Id], [Rastyp]) VALUES (1, N'Skogstomte')
INSERT [dbo].[Ras] ([Id], [Rastyp]) VALUES (2, N'Bergstomte')
INSERT [dbo].[Ras] ([Id], [Rastyp]) VALUES (3, N'Kaostomte')
SET IDENTITY_INSERT [dbo].[Ras] OFF
ALTER TABLE [dbo].[Gnome]  WITH CHECK ADD  CONSTRAINT [FK_Gnome_Ras] FOREIGN KEY([RasId])
REFERENCES [dbo].[Ras] ([Id])
GO
ALTER TABLE [dbo].[Gnome] CHECK CONSTRAINT [FK_Gnome_Ras]
GO
USE [master]
GO
