USE [master]
GO
/****** Object:  Database [GnomeDb]    Script Date: 2018-09-07 09:32:27 ******/
CREATE DATABASE [GnomeDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GnomeDb', FILENAME = N'C:\Users\Administrator\GnomeDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GnomeDb_log', FILENAME = N'C:\Users\Administrator\GnomeDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GnomeDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GnomeDb]
GO
USE [GnomeDb]
GO
/****** Object:  Table [dbo].[Gnome]    Script Date: 2018-09-07 09:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gnome](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Gnome] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Gnome] ON 

INSERT [dbo].[Gnome] ([Id], [Name]) VALUES (1, N'Grobnick')
INSERT [dbo].[Gnome] ([Id], [Name]) VALUES (2, N'Kazbo')
INSERT [dbo].[Gnome] ([Id], [Name]) VALUES (3, N'Beggra')
SET IDENTITY_INSERT [dbo].[Gnome] OFF
USE [master]
GO
